html *{
    box-sizing: border-box;
}

*:before,
*:after{
    box-sizing: border-box;
}
#wrapper{
    display: flex;
    flex-wrap: wrap;

}
#page-header{
    width: 100%;
    text-align: center;
}
.row{
    display:flex;

}
#nav{
    width: 20%;
}
main{
    width: 50%;
}
#page-aside{

    flex-direction: column;
    align-items: center;
    width: 30%;
}
#page-nav, main, #page-aside{
    border: 1px solid #000;
}


body{
    font: 20px "times new roman", times, serif;
    margin: 0;
    padding: 0;
}
/*@media screen and (min-width: 600px){
    #page-header{
        width: 100%;
        text-align: center;
    }
    #page-nav{
        float: left;
        width: 30%;
        padding: lem;

    }
    main{
        width: 40%;
        float: left;
        margin: lem;
        padding: lem;
    }
    #page-aside{
        float: left;
        width: 20%;
            padding: lem;
    }
    #page-footer{
        clear: left;
    }
}

*/
