
body{
    background-color: lightgray;
}

header{
    background-image: url(../images/header.jpg);
        padding: 12px;
    text-align: center;
    width: 100%;
}
.Nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 85px;
    width: 100%;
}

.page {
    float: left;
}

.page a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.page a:hover {
    background-color: #111;
}
#wrapper{
    display: flex;
    flex-wrap: wrap;
}

#hourly{
    width: 150px;
    height: 100px;
    overflow: auto;
}
img {
    display: inline-flex;
    margin: auto;
    width: 0%;
}
#ads{
    background-image: url(../images/you.png);
    float: left;
    width: 20%;

}
/*
@media screen and (min-width: 450px){
    body{
        background-color: lightgray;
    }

    header{
        background-image: url(../images/header.jpg);
        padding: 12px;
        text-align: center;
        width: 100%;
    }
    .Nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;
        background-color: #333;
        display: inline-flex;
        position:absolute;

    }
    .page a {
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .page a:hover {
        background-color: #111;
    }
    main{
        width: 60%;
    }
    h3 {
        float: right;
       width: auto;
        position: absolute;
        top: 250px;
        left: 500px;
    }
    #hourly{
        width: 150px;
        height: 100px;
        overflow: auto;
        position: absolute;
        top: 290px;
        left: 500px;
    }


    #tweather {
        align-content: center;
        width: 40%;
    }
    img {
        width: 50%;
    }



    article{
        width: 80%;
        display: flex;
        align-items: center;
        padding: 5px;

    }
    aside{
        width: 20%;
    }
    #page-footer{
        clear: left;

    }

}
@media screen and (min-width: 850px){
    body{
        background-color: lightgray;
    }

    header{
        background-image: url(../images/header.jpg);
        padding: 12px;
        text-align: center;
        width: 100%;
    }
    .Nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;
        background-color: #333;
        display: inline-flex;
        position:absolute;

    }
    .page a {
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .page a:hover {
        background-color: #111;
    }
    main{
        width: 60%;
    }
    h3 {
        float: right;
        width: auto;
        position: absolute;
        top: 250px;
        left: 500px;
    }
    #hourly{
        width: 150px;
        height: 100px;
        overflow: auto;
        position: absolute;
        top: 290px;
        left: 500px;
    }


    #tweather {
        align-content: center;
        width: 40%;
    }
    img {
        width: 50%;
    }



    article{
        width: 80%;
        display: flex;
        align-items: center;
        padding: 5px;

    }
    aside{
        width: 20%;
    }

    #page-footer{
        display: flex;
        align-self:flex-end;
    }
}
*/

@media screen and (min-width: 450px){
    body{
        background-color: lightgray;
    }

    header{
        background-image: url(../images/header.jpg);
        padding: 12px;
        text-align: center;
    }
    .Nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        position:inherit;
    }
    .tweather {
        float: right;
        align-content: center;
        width: auto;
    }
    .page {
        float: left;
    }

    .page a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .page a:hover {
        background-color: #111;
    }
    img {
        display: inline-block;
        margin: auto;
        width: 40%;
    }
    #ads {
        background-image: url(../images/you.png);
       position: absolute;
        top: 450px;
        right: 75px;
        width: 30%;
        height: 30%;
        margin: auto;
    }
    #ebay{
        display: none;
    }
    h3 {
        position:absolute;
        top: 200px;
        right: 150px;
        text-align:center;
        display: inherit;

    }
    #hourly{
        width: 150px;
        height: 100px;
        overflow: auto;
        display: block;
        width: 40%;
        float: right;
       position:absolute;
        right: 100px;
        top: 300px;
    }
    main{
        width: 80%;
        float: left;

    }
    #uplift{
        display:inline-block;
    }
    #page-footer{
        clear: left;

    }
}
@media screen and (min-width: 950px){

        body{
            background-color: lightgray;
        }

        header{
            background-image: url(../images/header.jpg);
            padding: 12px;
            text-align: center;
        }
        .Nav {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            position:inherit;
        }
        .tweather {
            float: right;
            align-content: center;
            width: auto;
        }
        .page {
            float: left;
        }

        .page a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .page a:hover {
            background-color: #111;
        }
        img {
            display: inline-block;
            margin: auto;
            width: 40%;
        }
        #ads {
            background-image: url(../images/you.png);
            position: absolute;
            top: 450px;
            right: 75px;
            width: 30%;
            height: 30%;
            margin: 0;

        }
        #ebay {
            display: block;
            position: absolute;
            top: 450px;
            right: 75px;
            width: 200px;
            height: 150px;
            float: right;
        }
        h3 {
            position:absolute;
            top: 200px;
            right: 150px;
            text-align:center;
            display: inherit;

        }
        #hourly{
            width: 150px;
            height: 100px;
            overflow: auto;
            display: block;
            width: 40%;
            float: right;
            position:absolute;
            right: 100px;
            top: 300px;
        }
        main{
            width: 80%;
            float: left;
        }
        #uplift{
            display:inline-block;
        }
        #page-footer{
            clear: left;

        }
    }


